{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <!-- Avatar -->
  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" fetchpriority="high" />
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" fetchpriority="high" />
    {% endif %}
  </div>

  <!-- Name, pronouns, bio -->
  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <!-- URLs / Links -->
  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">

      <!-- Biographical info -->
      {% if author.location %}
        <li class="author__desktop">
          <i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ author.location }}
        </li>
      {% endif %}

      {% if author.employer %}
        <li class="author__desktop">
          <i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>{{ author.employer }}
        </li>
      {% endif %}

      {% if author.cv %}
        <li>
          <a href="{{ author.cv.url }}" target="_blank">
            {{ author.cv.emoji }} {{ author.cv.name }}
          </a>
        </li>
      {% endif %}

      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link icon-pad-right"></i>{{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right"></i>{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}

      <!-- Academic links -->
      {% assign academic_links = "academia,arxiv,googlescholar,semantic,impactstory,orcid,pubmed,researchgate,scopus,inspire-hep" | split: "," %}
      {% for link in academic_links %}
        {% if author[link] %}
          <li>
            <a href="{{ author[link] }}">
              <i class="ai ai-{{ link | downcase }} ai-fw icon-pad-right"></i>{{ link | capitalize | replace: "Googlescholar", "Google Scholar" | replace: "Pubmed", "PubMed" | replace: "Inspire-hep", "INSPIRE-HEP" }}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      <!-- Repositories -->
      {% assign repo_links = "bitbucket,codepen,dribbble,github,kaggle,stackoverflow" | split: "," %}
      {% for link in repo_links %}
        {% if author[link] %}
          <li><a href="https://{{ link == 'stackoverflow' ? 'www.stackoverflow.com/users/' : link | prepend: link | append: '/' }}{{ author[link] }}">
            <i class="fab fa-fw fa-{{ link }} icon-pad-right"></i>{{ link | capitalize }}
          </a></li>
        {% endif %}
      {% endfor %}

      <!-- Social links -->
      {% assign social_links = "artstation,bluesky,facebook,flickr,foursquare,goodreads,google_plus,keybase,instagram,lastfm,linkedin,mastodon,medium,pinterest,soundcloud,steam,telegram,tumblr,twitter,vine,weibo,wikipedia,xing,youtube,zhihu" | split: "," %}
      {% for link in social_links %}
        {% if author[link] %}
          <li>
            <a href="https://{{ link == 'twitter' ? 'twitter.com/' : link == 'linkedin' ? 'www.linkedin.com/in/' : link == 'youtube' ? 'www.youtube.com/@' : author[link] }}">
              <i class="fab fa-fw fa-{{ link | replace: 'google_plus', 'google-plus-g' }} icon-pad-right"></i>{{ link | capitalize | replace: "Google_plus", "Google+" | replace: "Xing", "XING" | replace: "Zhihu", "Zhihu" | replace: "Mastodon", "Mastodon" }}
            </a>
          </li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>
</div>
